
@{
    ViewData["Title"] = "views";
    Layout = "~/Views/Shared/myLayout.cshtml";
}
@model Views
<link rel="stylesheet" href="~/css/view.css" />

<center>
    <div class="contact-us">
        <form method="post" asp-action="Add">
            <input asp-for="UserId" placeholder="UserId" type="number" required>
            <input asp-for="MovieId" placeholder="MovieId" type="number" required>

            <button type="submit">Add view</button>
        </form>
    </div>
</center>

<section>
    <!--for demo wrap-->
    <h1>Movies Views</h1>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th><center>UserId</center></th>
                    <th><center>MovieId</center></th>

                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                @foreach (var view in ViewBag.v)
                {
                    <tr>
                        <td><center>@view.UserId</center></td>
                        <td><center>@view.MovieId</center></td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</section>









